/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
 @import "./variable.styl"

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input
  margin: 0
  padding: 0
  border: 0
  font-size: 16px
  font-weight: normal
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

body
  line-height: 1
  background:#f5f5f5

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: none

table
  border-collapse: collapse
  border-spacing: 0

/* custom */

a
  color: #7e8c8d
  -webkit-backface-visibility: hidden
  text-decoration: none

.floatLeft
  float:left
.floatRight
  float:right
li
  list-style: none
.charcoalGreyColor
  color:#2c2c30
.scarlet
  color:#d0011b
.darkColor
  color:#0f1012
.pinkishGreyColor
  color:#ccc
.azureColor
  color:#00a6e9
.brownishGreyColor
  color:#666
.warmGreyColor
  color:#999
.blackColor
  color:#333 !important
.whiteTwoColor
  color:#f5f5f5
.sickGreenColor
  color:#acd042
.yellowishOrangeColor
  color:#feaf17
.carnationColor
  color:#fc7093
 
.charcoalGreyBg
  background:#2c2c30
.darkBg
  background:#0f1012
.pinkishGreyBg
  background:#ccc
.azureBg
  background:#00a6e9
.brownishGreyBg
  background:#666
.warmGreyBg
  background:#999
.blackBg
  background:#333
.whiteTwoBg
  background:#f5f5f5
.sickGreenBg
  background:#acd042
.yellowishOrangeBg
  background:#feaf17
.carnationBg
  background:#fc7093

input::-webkit-input-placeholder
  color:#999
input:-moz-placeholder
  color:#999
input::-moz-placeholder
  color:#999
input:-ms-input-placeholder
  color:#999

.loading-container
  position: absolute
  width: 100%
  top: 50%
  transform: translateY(-50%)
body
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
.clearfloat::after
    content: ""
    height: 0
    clear: both
    display: block
    visibility: hidden
.titleh4
	  border-bottom:1px solid #ddd
	  background:#fff
	  text-align:center
	  position:fixed
	  z-index:9
	  top:0
	  left:0
	  width:100%
	  height: 30px
	  ul
	    height:30px
	    line-height:30px
	    display: inline-block;
	    li
	      float:left
	      font-size:12px
	    .lh24
	      line-height:24px
	.colorgreen
	  color:#acd042
	.color_ccc
	  color:#ccc
